<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <main>
        <div>
            <h2>Dashboard</h2>

            <h3>Welcome to dashboard, USER!</h3>

        </div>

        <hr>

        <div>
            <h3>Unfortunately, this section is only available for admin users.</h3>

            <p>ADMIN PANEL</p>
        </div>

        <hr>

        <div>
            <h3> File search </h3>

            <form>
                <label for="filename-search">Enter filename:</label>
                <input type="text" placeholder="Enter filename" name="filename" id="filename" required>
                <button type="submit">Search</button> <br>
            </form>
            <div>
                <p>Param:</p>
                <% if (typeof params !== 'undefined') { %>
                    <ul>
                        <% for (const [key, param] of Object.entries(params)) { %>
                            <li>
                                <%= JSON.stringify(param, null, 4) %>
                            </li>
                            <% } %>
                    </ul>
                    <% } else { %>
                        <p>hello1</p>
                        <% } %>
            </div>
        </div>

        <hr>

        <a href="/logout">Logout</a>
    </main>
</body>

</html>