<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Homepage</title>
    </head>
    <body>
        <main>
            <div> 
                <h2>Welcome to this secure environment</h2>
                <p>All of your details will be kept safe and sound!</p>            
            </div>
            <div>
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            </div>
            <hr>
            <div>
                <form action="/delete" method="post">
                    <button name="deletebtn" value="deletebtn">Reset DB</button>
                </form>
            </div>
    </body>
</html>