<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <main>
        <div>
            <form action="/login" method="POST">
                <label for="username">Username:</label>
                <input type="text" placeholder="Enter username" name="username" id="username" required>
                <label for="password">Password:</label>
                <input type="password" placeholder="Enter password" name="password" id="password" required>
                <button type="submit" id="registerBtn">Login</button>
            </form>
        </div>
        <a href="/register">Register</a>
        <a href="/">Homepage</a>
        <div id="error"></div>
    </main>
</body>
</body>
</html>