<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <main>
        <div>
            <h2>Registeration Form</h2>  
            <p>Please fill in your details to create an account</p>
            <label for="username">Username:</label>
            <input type="text" placeholder="Enter username" name="username" id="username" required>
            <label for="password">Password:</label>
            <input type="password" placeholder="Enter password" name="password" id="password" required>
            <button type="submit">Register</button>
        </div>
        <div style="display: none;">
            <input type="checkbox" id="adminRights" name="admin">
            <label for="admin">Admin rights</label>
        </div>
    </main>
</body>
</html>